<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EGRESOFT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
<<<<<<< HEAD





                    <li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("Empresa"))
                            {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Empresa
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Agregar Oferta", "Index", "AgregarOfertas")</li>
                                    <li>@Html.ActionLink("Consultar Ofertas", "Index", "ConsultarOfertas")</li>
                                    <li>@Html.ActionLink("Crear Empresa", "Index", "CrearPerfilEmpresas")</li>
                                    <li>@Html.ActionLink("Perfil Empresa", "Index", "PerfilEmpresas")</li>
                                </ul>
                            </li>
                        }
                    }
                        </li>


                        <li>

                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Administrador
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">ROJO</a></li>
                                        <li><a href="#">VERDER</a></li>
                                        <li><a href="#">AMARILLO</a></li>
                                    </ul>
                                </li>
                            }
                        }
                            </li>

                            <li>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("Egresado"))
                                    {
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            Egresado
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">

                                            <li><a href="#">MORADO</a></li>
                                            
                                            <li><a href="#">NEGRO</a></li>
                                        </ul>
                                    </li>

                                }
                            }
                                </li>



                            </ul>
=======
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("egresado", "Index", "Egresadoes")</li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Empresa
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Administrador
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Perfil administrador", "Index", "Administradors")</li>
                            <li>@Html.ActionLink("Publicaciones en espera", "Index", "PublicacionesEnEsperas")</li>
                            <li>@Html.ActionLink("Crear publicación ", "Index", "PublicacionAdmins")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Egresado
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                </ul>
>>>>>>> 30da0560b41b0ca980d32937b25d1e52743955c6

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        </div>
    <div>
        <hr />
        <footer class="colorfondo">
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
